@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Onest:wght@300;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
    color: var(--white-text);
}

:root {
    --one:rgb(48, 56, 65);
    --two: rgb(58, 71, 80);
    --three:rgb(246, 201, 14);
    --four:rgb(238, 238, 238);
    --five:rgb(48, 56, 65, 0.7);
    --six: rgb(58, 71, 80, 0.7);
}

a:link {
    color: var(--seven);
}

.body {
    background-color: var(--one);
} 

.logo {
    font-size: 4rem;
    font-weight: bold;
    color: var(--three);
}

.log-div {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: var(--four);
    /* transform: rotate(90deg); */
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media a {
    text-decoration: none;
    color: var(--three);
}

.social-media i {
    font-size: medium;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    z-index: 999;
}

.fa-xmark {
    font-size: 2rem;
    color: var(--three);
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: none;
}

.fa-bars {
    font-size: 2rem;
    color: var(--three);
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
}

.menu {
    justify-content: center;
}

#menuLinks {
    transition: 1000ms;
}

.list-links-visible {
    display: grid;
    width: 70vw;
    justify-content: center;
    position: fixed;
    top: 5vh;
    right: 0;
}

.list-links-visible li {
    list-style: none;
    min-width: 80vw;
    background-color: var(--three);
    color: var(--one);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem;
}

.list-links-visible li a {
    color: var(--one);
    text-decoration: none;
}

.list-links-visible li a:visited {
    color: var(--one);
    text-decoration: none;
}

.list-links-invisible {
    position: fixed;
    top: 5vh;
    right: -100vw;
 }

/* APRESENTATION */

.apresentation {
    margin-top: 5vh;
    padding: 1rem;
    min-height: 95vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: url('/images/me.jpg');
    background-size: cover;
    background-position: top;
    border-image: linear-gradient(90deg,  var(--five), var(--six)) fill 1;
}

.yellow {
    color: var(--three);
}

.say-hi {
    font-weight: bold;
    font-size: 4rem;
    margin: 0 1rem;
    text-align: left;
    color: var(--three);
}

.my-name {
    font-weight: bold;
    font-size: 4rem;
    color: var(--four);
    text-transform: uppercase;
}

.code-languages {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.code-symbol {
    font-size: 4rem;
    background: var(--one);
   
    padding: 1rem;
    border-radius: 20%;
    color: var(--three);
}

/* SECTION MY PROJECTS */
.my-projects {
    display: grid;
    justify-content: center;
    gap: 5vh;
    margin: 10vh auto 0 auto;
}

.my-projects-title {
    color: var(--three);
    font-weight: bold;
    text-align: center;
}

.my-projects div {
    /* max-width: 80vw; */
}

.project-screen {
    object-fit: cover;
    max-width: 80vw;
    max-height: 50vh;
    border-radius: 10%;
}

figcaption {
    margin: 1rem;
    color: var(--four);
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
}

/* SEECTION ABOUT ME */

.about-me {
    color: var(--four);
    background-color: var(--one);
    min-height: 100vh;
    margin: 10vh auto 0 auto;
    padding: 0 5vw;
    align-items: center;
}

.about-me div {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 3vw;
}

.about-me-title {
    color: var(--three);
    font-weight: bold;
    text-align: center;
}

/* .display-none {
    display: none;
} */

/* LETS TALK SECTION */

.contact-me {
    min-height: 100vh;
    margin: 10vh auto 0 auto;
    color: var(--three);
    padding: 3vw;
    display: grid;
}

.lets-talk-title {
    color: var(--three);
    font-weight: bold;
    text-align: center;
}

.quick-question {
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 2vh auto;
}

.contact-me form {
    background-color: var(--two);
    border-radius: 2rem;
    padding: 5vh 0;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.contact-me form div:not(.errorMessages){
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    align-items: center;
}

.contact-me form div:nth-child(4){
    display: grid;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: var(--one);
    border: solid var(--three) 2px;
    border-radius: 1rem;
    color: var(--yellow);
    padding: 0.5rem;
}

textarea {
    min-width: 65vw;
    resize: vertical;
}

textarea::placeholder {
    padding: 0.5rem;
    color: var(--four);
}

.submit-button {
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0.7rem;
    background-color: var(--three);
    color: var(--one);
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.submit-button:disabled {
    background-color: var(--one);
    color: var(--two);
}

/* MY EMAIL */

.my-email-div {
    margin: 10vh 0;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5vh;
}

.my-email {
    text-align: center;
}

